@font-face {
    font-family: WorkSans-Bold;
    src: url(assets/fonts/static/WorkSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(assets/fonts/static/WorkSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: WorkSans-SemiBold;
    src: url(assets/fonts/static/WorkSans-SemiBold.ttf) format("truetype");
}

body {
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(223, 238, 247);
}

.faqcontainer {
    position: absolute; /* or fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    min-height: 300px;
    box-shadow: 5px 5px 2cap #888888;
  }  

h1 {
    font-family: WorkSans-Bold;
    display:flex;
}

.faqcontainer img {
    margin-right: 20px;
}

.question {
    font-family: WorkSans-SemiBold;
    padding: 20px;
    font-size: 20px;
    border-bottom: 0.5px solid wheat;
    padding-bottom: 20px;
}

.question details summary {
    list-style: none;
    cursor: pointer;
    padding: 7px;
}

.question details summary img {
    float: right;
}

.question p {
    font-family: WorkSans-Regular;
    font-size: 17px;
    color: #767676;
}

.attribution {
    position: absolute;
    bottom: 5%;
}